
@import "~bootstrap/less/bootstrap.less";


body,
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
}

header {
    height: 10vw;
    background-color: @brand-primary;
    * {
        color: white;
    }
}

.geoff-maincontainer {
    margin: 0 auto 15px auto;
    width:100vw;
    padding:5vw;
}

.forms-form textarea{
    height: 10vw;
}


.btn-form{
    margin-right: 1vw;
    margin-top: 2vw;
}

ul.apps-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: center;
    a{
        opacity: 0.8;
        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
    .appBox, .addBox{
        display: block;
        text-align: center;
        width: 16vw;
        height: 16vw;
        line-height: 16vw;
        font-size: 12vw;
    }
    .addBox {
        font-size: 4vw;
        border-radius: 3px;
        background-color: @brand-primary;
        color: white;
    }
  }
}

footer {
    padding: 30px 0 5px 0;
    background-color: @gray-dark;
    * {
        color: white;
    }
    p {
        font-weight: 200;
        letter-spacing: 0.02em;
        font-size: 0.9em;
    }
}
