
@import "~bootstrap/less/bootstrap.less";

ul.apps-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    text-align: center;
    a{
        opacity: 0.8;
        &:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
    .appBox, .addBox{
        display: block;
        text-align: center;
        width: 16vw;
        height: 16vw;
        line-height: 16vw;
        font-size: 12vw;
    }
    .addBox {
        font-size: 4vw;
        background-color: @brand-primary;
        color: white;
    }
  }
}
